@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

.homeContainer {
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #a8d3d3;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  border: #91cfd1 solid;
}
.helpCard h1,
.topicCard h1 {
  font-family: "Space Grotesk", sans-serif !important;
}
.quizHomeContainer {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 16px;
  padding: 30px 24px !important;
  height: auto !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}
/* .quizHomeContainer {
  background-color: #ffffff;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  padding: 30px 24px !important;
  min-height: 80vh;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
 */

.textWithArrow {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* center horizontally */
  gap: 8px;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;
}

.motivationalText {
  font-size: 34px !important;
  font-weight: bold;
  line-height: 0.5;
  margin: 0;
}

.motivationalLine {
  margin: 4px 0;
}

.motivationalLine1 {
  margin-left: -20px;
}

.highlightBlue {
  color: #2196f3;
}

.motivationalArrow {
  width: 80px;
  height: 70px;
  margin-bottom: 20px;
  margin-left: -15px;
  transform: rotate(3deg);
}

@media (max-width: 600px) {
  .quizHomeContainer {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 16px;
    padding: 30px 24px;
    height: auto !important;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  }

  .motivationalArrow {
    display: none;
  }
  .starNote {
    /* margin: 10px 0 10px; */
    margin-top: 0px !important;
    font-size: 16px;
    color: #555;
    background: #fafafa;
    padding: 5px 15px;
    border-radius: 12px;
    display: inline-block;
    border: 1px solid #dddddd;
    box-shadow: 0px 4px 4px 0px #0000000a;
  }
}

.practiceImage {
  margin-top: -30px !important;
  max-width: 280px;
  width: 100%;
  height: auto;
  margin: 0px auto;
  display: block;
  cursor: pointer;
}

.starNote {
  /* margin: 10px 0 10px; */
  /* margin-top: -25px; */
  font-size: 16px;
  color: #555;
  background: #fafafa;
  padding: 5px 15px;
  border-radius: 12px;
  display: inline-block;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 4px 0px #0000000a;
}

.quizReadyText {
  margin-top: -13px;
  font-size: 16px;
  color: #2c3e50;
}

.highlightLink {
  color: #3498db;
  font-weight: 500;
  cursor: pointer;
}

.buttonContainer1 {
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redButton {
  height: 40px;
  max-height: 40px;
  border-radius: 12px;
  border: 1.5px solid #aaaaaa;
  background: #eeeeee;
  padding: 12px 28px;
  cursor: pointer;
  color: #aaaaaa;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 4px 4px 0px 0px #aaaaaa, inset 0px 8px 4px 0px #0000000a !important;
}
.redButton:hover {
  background-color: #eeeeee !important;
  box-shadow: 4px 4px 0px 0px #aaaaaa, inset 0px 8px 4px 0px #0000000a !important;
}
.redButton:focus,
.redButton:active {
  outline: none !important;
  border: 1.5px solid #aaaaaa !important;
  box-shadow: 4px 4px 0px 0px #aaaaaa, inset 0px 8px 4px 0px #0000000a !important;
}
.startQuizButton {
  /* height: 40px;
  max-height: 40px; */
  border-radius: 12px;
  border: 1.5px solid #000000;
  background: #fdbb3e;
  padding: 12px 28px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 4px 4px 0px 0px #000000, inset 0px 8px 4px 0px #0000000a !important;
}
.startQuizButton:hover {
  background-color: #fdbb3e;
  box-shadow: none !important;
}

.startQuizButton:focus,
.startQuizButton:active {
  outline: none;
  border: 1.5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000, inset 0px 8px 4px 0px #0000000a !important;
}

.startIcon {
  font-size: 20px;
}

/* Responsive */
@media (max-width: 600px) {
  .homeContainer {
    padding: 15px;
  }

  .motivationalText {
    font-size: 28px !important;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-align: left !important;
  }

  .practiceImage {
    max-width: 100%;
    height: 100%;
  }

  .textWithArrow {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .motivationalLine {
    margin-top: -15px;
  }

  .motivationalLine1 {
    margin-left: 0px;
  }
}

.inline-icon1 {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: -3px;
  margin-right: 0.3rem;
}

.inline-icon {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  margin-left: 0.3rem;
}

.cardsLayout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.practice-header {
  text-align: center;
}

.practice-brain-icon {
  width: 60px;
  margin-bottom: 0.5rem;
}

.practice-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.bold-text {
  color: #000;
}

.highlight-text {
  color: #24aaff;
}

.subtitle {
  font-size: 1rem;
  color: #444;
  margin-top: 0.4rem;
}

.rightCards .card {
  background: white;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #dddddd;
}

.leftCard {
  background-color: #eaf6ff;
}

.helpCard {
  background-color: #f0fff0;
  margin-bottom: 1.5rem;
}

.topicCard {
  background-color: #f9f0ff;
}

.rightCards {
  display: flex;
  flex-direction: column;
}
.highlightGreen {
  color: #7ed956;
}
.highlightPurple {
  color: #cb6be6;
}
/* Buttons */
.parentContainer {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;
}
.helpButton {
  border-radius: 12px;
  border: 1.5px solid #000000;
  background: #7ed956;
  padding: 12px 28px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 4px 4px 0px 0px #000000, inset 0px 8px 4px 0px #0000000a !important;
}
.helpButton:hover {
  background-color: #7ed956;
  box-shadow: none !important;
}

.helpButton:focus,
.helpButton:active {
  outline: none;
  border: 1.5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000, inset 0px 8px 4px 0px #0000000a !important;
}

.topicButton {
  border-radius: 12px;
  border: 1.5px solid #000000;
  background: #cb6be6;
  padding: 12px 28px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 4px 4px 0px 0px #000000, inset 0px 8px 4px 0px #0000000a !important;
}
.topicButton:hover {
  background-color: #cb6be6;
  box-shadow: none !important;
}

.topicButton:focus,
.topicButton:active {
  outline: none;
  border: 1.5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000, inset 0px 8px 4px 0px #0000000a !important;
}

/* Responsive Layout for larger screens */
@media (min-width: 768px) {
  .cardsLayout {
    flex-direction: row;
  }

  .leftCard {
    width: 50%;
  }

  .rightCards {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .rightCards .card {
    flex: 1;
  }
}


.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
